.nav-wrap{
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}
.nav-wrap img{
    width: 45px;
    height: 45px;
}
.nav-left{
    width: 20%;
    min-width: 200px;
}
.nav-right{
    width: 20%;
}
.nav-center{
    width: 60%;
    max-width: 720px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}