#search-bar-from{
    width: 80%;
    display: flex;
    align-items: center;
    border: 1px solid #1D87FA;
    justify-content: space-between;
    border-radius: 8px;
    margin: auto;
    height: 40px;
}
#search-bar-from>input{
    width: 90%;
    height: 30px;
    border: none;
    padding-left: 10px;
    outline: none;
}
#search-bar-from>input::placeholder{
    font-weight: 500;
}
#search-bar-from>button{
    /*width: 20%;*/
    height: 30px;
    border: none;
    background-color: white;
}
#search-bar-from>button>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}