:root {
    --blue : #1B9DD9;
    --grey : #F5F6FA;
    --light-grey : #707070;
    --dark-grey : #5F5F5F;
    --border-radius : 45px;
    --green : #BCCF11;
    --red : #E20D18;
    --yellow : #FEC107;
    --silver : #C1C1C1;
    --bronze : #AC7D18;
  }

  .podium-places-container {
    display: flex;
    justify-content : center;
    align-items: center;
    width : 100%;
    margin-left: auto;
    margin-right : auto;
    justify-content : center;
  }
  
  .podium {
    display : grid;
    grid-template-columns: 1fr 3fr;
    width : 100%;
    background-color : white;
    margin : .7em;
    border-radius : 8px;
    color : white;
  }
  
  .podium .position {
    border-right-style: solid;
    border-color: var(--grey);
  }
  
  .podium .position {
    width : 100%;
    position : relative;
  }
  
  .podium.gold .position {
    width : 100%;
  }
  
  /* .podium .class-information {
   padding : 1em;
  } */
  
  .podium.bronze, .podium.silver {
    width : 100px;
    height : 60px;
  }
  
  .podium.silver .position div,
  .podium.bronze .position div {
    position : absolute;
    margin: 0 auto;
  }
  
  .podium.gold .position div {
    position : absolute;
    margin: 0 auto;
  }
  
  
  
  .podium.bronze .class-information .title, .podium.silver .class-information .title {
    margin: 0 auto;
  }
  
  .podium.bronze .class-information .steps, .podium.silver .class-information .steps {
    margin: 0 auto;
  }
  
  .podium.gold .class-information .title {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  
  .podium.gold .class-information .steps {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .podium.bronze {
    background-color : var(--bronze);
  }
  
  .podium.silver {
    background-color : var(--silver);
  }
  
  .podium.gold {
    background-color : var(--yellow);
    height : 90px;
    width : 150px;
  }