html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 480px;
  height: 100vh;
  position: relative;
}